.studentTopbox {
    position: relative;
    height: 100vh;
    width: 768px;
}


.Character_student_image {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.Character_student_image img{
    width: 150px;
}

.Hat {
    display: flex;
    position: absolute;
    z-index: 999;
    opacity: 0;
    
    animation: flyIn 1.5s linear forwards;
    animation-delay: 16s;
}

.Hat img {
    width: 100px;
}

@keyframes flyIn {
    0% {
      transform: rotate(0deg) translate(0, 0);
      opacity: 0;
      top: 65%;
      left: 80%;
    }

    1% {
        opacity: 1;
    }

    25% {
        transform: rotate(90deg) translate(100px, -100px);
    }

    50% {
      transform: scale(1.4) rotate(180deg) translate(0, -150px);
    }

    75% {
      transform: rotate(270deg) translate(-100px, -100px);
    }

    100% {
      transform: rotate(360deg) translate(0, 0);
      opacity: 1;
      top: 65%;
      left: 43%;
    }
  }

.schoolpicture {
    display: flex;
    position: absolute;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
    animation: falldown 2s linear forwards;
    animation-delay: 10s;
} 

.schoolpicture img {
    width: 650px;
}

@keyframes falldown {
    0%      { top: -120%; opacity: 0; }
    1%     { opacity: 1; }
   
    100%    { top: 25%; opacity: 1; }
}

.student_book1 {
    position: absolute;
    z-index: 999;

    left: 22%;
    width: 132px;
    opacity: 0;

    animation: falldown_book 3s linear forwards;
    animation-delay: 13s;
}

.student_book2 {
    position: absolute;
    z-index: 999;

    left: 30%;
    width: 132px;
    opacity: 0;

    animation: falldown_book 2s linear forwards;
    animation-delay: 13s;
}

.student_book3 {
    position: absolute;
    z-index: 999;

    left: 55%;
    width: 132px;
    opacity: 0;
   
    animation: falldown_book 2.5s linear forwards;
    animation-delay: 13s; 
}

.student_book4 {
    position: absolute; 
    z-index: 999;

    left: 63%;
    width: 132px;
    opacity: 0;
    
    animation: falldown_book 1s linear forwards;
    animation-delay: 13s; 
}

@keyframes falldown_book {
    0%      { top: 50%; opacity: 0; }
    10%     { opacity: 1; }
   
    100%    { top: 70%; opacity: 1; }
}
